body {
 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSam5FQGyeYMcWe-XU7ZYqvwEVQGPSkMLoISw&usqp=CAU");
   
}

.category{
   position: absolute;
    top: 6px;
    right: 20px;   
     border-radius: 10px;
    color: #476072;
    font-family : 'Permanent Marker', cursive;
}


.check{

    margin-right: 4px;
    position: relative;
    top: 7px;

}

.todo{
    padding-bottom: 0px;
    padding-top: 100px;
    padding-left: 500px;
    margin-left: 40px;
}




.list-group-item.First {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 3px;
    padding-top: 30px;
   
}



h4{
    color: grey;
}

h1{
    text-align: center;
    margin-right: 130px;
    margin-top: 40px;
    font-family: 'Permanent Marker', cursive;
    color:#9ADCFF;
    padding: 4px;


}

.heading{
    background-color: white;
}



.list-group-item.Second{

    padding-left: 6px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size:small;
   
   
}

.list-group-item.Third{
    font-size:small;
   
}

.list-group-item.Fourth{

    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    

}


.list-group-item.Fifth{

    padding-left: 8px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size:small;
    font-family: 'Permanent Marker', cursive;
}



.form-control{
  border-style: hidden;
  font-size:x-small;
  padding-left: 0px;
  padding-top: 1px;
  outline: none;
 box-shadow:none !important;
 border:0px solid #ccc !important;  
}
